<mat-toolbar class="mat-elevation-z1" color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toogleSideBar()"> 
            <mat-icon>menu</mat-icon>
        </button>

        <span> Workflow </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="userMenu">
                        <mat-icon>person_outline</mat-icon>
                    </button>

                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>