
.background-highlight{
  background: #4e65e6;
}

.background-highlight-processor{
  background: #919ddd;
}

.bad-property-validation{
  color: red !important;
}
.fullWidth {
  width: 100% !important;
  text-align: left;
}

.processor-option {
  float: right;
}
.tree-actions{
  width: 10% !important;

}
.add-button {
  margin: 5px;
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.tree-node-button {
  margin: 5px;
  float: right;
  top: -3px;
}

/* Remove dots and numbers */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Push Children --> */
ul {
  padding-left: 40px;
}
/* Remove bottom border */
li.tree-container {
  border-bottom: 0;
}


.tree-nested-node {
  padding-left: 30px;
}
.mat-tree-node {
  padding: 0;
  background-color: white;
}

/* Add Border to list */
li {
  padding-left: 40px;
  position: relative;

}
li.mat-tree-node,
li div {
  margin: 0;
  position: relative;

}

li ul {
  margin-left: -40px;
  padding-left: 60px;
}

.mat-nested-tree-node:last-child ul {
  margin-left: -41px;
}

.mat-icon-button {
  z-index: 100;
}
