<mat-toolbar color="primary">
  <span> Current Workflows </span>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <div matTooltip="Add a workflow">
    <button class="add-button" mat-raised-button (click)="addWorkflow()">
      <mat-icon>add</mat-icon>
      Add Workflow
    </button>
  </div>
  <div matTooltip="Add a processor to selected workflow">
    <button [disabled]="disableProcessor" class="add-button" mat-raised-button (click)="addProcessor()">
      Add Processor
    </button>
  </div>
  <div matTooltip="Start workflow">
    <button [disabled]="disableStart" class="add-button" mat-raised-button (click)="startWorkflow()">
      <mat-icon>{{StartStopButtonIcon}}</mat-icon>
      {{StartStopButtonText}}
    </button>
  </div>
  
  
</mat-toolbar>

<mat-tree [dataSource]="data" [treeControl]="treeControl" >
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle >
    <!-- this here nosted node is for nodes that does not contain any childs -->
        <!-- this here should be property..... -->
          <li class="fullWidth">
            <div class="mat-tree-node">
              <button  mat-button (click)="activeNode = node" [ngClass]="{ 'background-highlight': activeNode === node }"
                      class="fullWidth" (click)="selectNode(node)" ><mat-icon style="right:20px;">subscriptions</mat-icon>{{node.name}} </button>
            </div>
          </li>
    </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: isProcessor" matTreeNodeToggle >
    <!-- this here nosted node is for nodes that does not contain any childs -->
        <!-- this here should be property..... -->
          <li class="fullWidth">
            <div class="mat-tree-node">
              <button  mat-button (click)="activeNode = node" [ngClass]="{ 'background-highlight-processor': activeNode === node }"
                      class="fullWidth" (click)="selectNode(node)" [ngClass]="{ 'bad-property-validation': node.settingsValidated !== true}" ><mat-icon style="right:20px;">memory</mat-icon>{{node.name}}
                      <button mat-button class="processor-option" (click)="startProcessor(node)" matTooltip="Toggle Start/Stop for processor"> 
                        <mat-icon *ngIf="!node.running">play_arrow</mat-icon>
                        <mat-icon *ngIf="node.running">stop</mat-icon>
                      </button>
                      <button mat-button class="processor-option" (click)="configureProcessor(node)" matTooltip="Configure processor">
                         <mat-icon [ngClass]="{ 'bad-property-validation': node.settingsValidated !== true}">settings</mat-icon>
                      </button>      
              </button>
              
            </div>
          </li>
    </mat-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" >
    <li class="tree-container">
      <div class="mat-tree-node" class="fullWidth" (click)="selectNode(node)" (click)="activeNode = node" [ngClass]="{ 'background-highlight': activeNode === node }">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
       
        <button  mat-button matTreeNodeToggle (click)="activeNode = node" [ngClass]="{ 'background-highlight': activeNode === node }"
            (click)="selectNode(node)">
            <mat-icon style="right: 20px;">subscriptions</mat-icon>
            {{node.name}}

        </button>
      </div>

      

      <ul class="tree-nested-node">
        <div  *ngIf="treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </ul>
    </li>
  </mat-nested-tree-node>

<!--

  <div *ngFor="let property of node.available">
      <li class="fullWidth">
        <div class="mat-tree-node">
          {{property.name}}
        </div>
      </li>
    </div>
  -->

</mat-tree>
