
.background-highlight{
  background: rgb(0, 151, 19);
}
.fullWidth {
  width: 100% !important;
  text-align: left;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

/* Remove dots and numbers */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Push Children --> */
ul {
  padding-left: 40px;
}
/* Push whole mat tree ---> to make space for our Dotted border */
mat-tree {
  margin-left: 40px;
}
/* Remove bottom border */
li.tree-container {
  border-bottom: 0;
}


.tree-nested-node {
  padding-left: 30px;
}
.mat-nested-tree-node {
  top: -24px;
}
.mat-tree-node {
  padding: 0;
  background-color: white;
}

/* Add Border to list */
li {
  padding-left: 40px;
  border: 1px dotted grey;
  border-width: 0 0 1px 1px;
  position: relative;
  top: -24px;
}
li.mat-tree-node,
li div {
  margin: 0;
  position: relative;
  top: 24px;
}

li ul {
  border-top: 1px dotted grey;
  margin-left: -40px;
  padding-left: 60px;
}

.mat-nested-tree-node:last-child ul {
  border-left: 1px solid white;
  margin-left: -41px;
}

.mat-icon-button {
  z-index: 100;
}
