
    <mat-nav-list>
      <!--<div class="profile-card">
          <div class="header">
              <h2>Percy Bolmer</h2>
              <h4>percybolmer1@gmail.com</h4>
          </div>
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
      </div>
      <mat-divider></mat-divider>
      -->
      <h2 matSubHeader> Pages</h2>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/management">Management</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
