:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:host {
    .mat-icon{
        vertical-align: middle;
        margin-right: 20px;
        top: -5px;
    }
  
}

.logo-item {
    background-color: #35baf6;
    top: -10px;
    height: 65px !important;
    pointer-events: none;
}
.active-list-item {
    color: green !important; /* Note: You could also use a custom theme */
  }
.primary {
    background-color: #101844;
}
.whitesmoke-background {
    background-color: whitesmoke;
}
.sidenav-container {
    height: 100%;
}
.container {
    padding: 8px 24px 108px 24px;
}
