:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:host {
    .mat-icon{
        vertical-align: middle;
        margin-right: 20px;
    }
  
}

.primary {
    background-color: #3f51b5;
}
.whitesmoke-background {
    background-color: whitesmoke;
}
.sidenav-container {
    height: 100%;
}
.container {
    padding: 8px 24px 108px 24px;
}